@charset "UTF-8";
/*==================================================
# mixin
==================================================*/
/*==================================================
# colors,layout-width-inner,etc
==================================================*/
/*==================================================
# common - 全体に共通するスタイル
==================================================*/
@media screen and (max-width:667px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width:668px) {
  .is-sp {
    display: none;
  }
}
img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #3E3E3E;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3E3E3E;
  background: #F3F3F3;
}
@media screen and (max-width:667px) {
  body {
    font-size: 14px;
  }
}

.header-nav, .util-title, .en {
  font-family: "Montserrat", sans-serif;
}

.inner {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}
@media screen and (max-width:667px) {
  .inner {
    padding: 0 16px;
  }
}

.util-title {
  font-size: 36px;
  font-weight: 600;
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}
@media screen and (max-width:667px) {
  .util-title {
    font-size: 30px;
    padding: 36px 0;
  }
}

.util-link {
  display: inline-block;
  padding: 0 50px;
  line-height: 50px;
  color: #fff;
  background: #FFAA3B;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.025em;
  border: none;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}
.util-link.-disabled {
  background: #B2B2B2;
}
@media screen and (min-width:668px) {
  .util-link:hover {
    background: #F18900;
  }
  .util-link:hover.-disabled {
    background: #B2B2B2;
  }
}
@media screen and (max-width:667px) {
  .util-link {
    padding: 0 32px;
    font-size: 16px;
  }
}

.util-link2-w {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
  border: 1px solid #707070;
  background: #fff;
  line-height: 64px;
  padding: 0 77px;
  text-align: center;
}
@media screen and (max-width:667px) {
  .util-link2-w {
    font-size: 18px;
    width: 316px;
    letter-spacing: 0.2em;
    line-height: 51px;
  }
}
.util-link2-w:hover {
  background: #3E3E3E;
  color: #fff;
  border-color: #fff;
}

.util-link2-black {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-weight: 600;
  border: 1px solid #fff;
  background: #3E3E3E;
  line-height: 64px;
  padding: 0 77px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width:667px) {
  .util-link2-black {
    font-size: 18px;
    max-width: 100%;
    letter-spacing: 0.1em;
    line-height: 51px;
  }
}
.util-link2-black:hover {
  background: #fff;
  color: #3E3E3E;
  border-color: #707070;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #FFFFFF1A;
}
@media screen and (max-width:667px) {
  .header {
    box-flex-group: #fff;
  }
}

.header-logo {
  font-size: 23px;
  font-weight: bold;
  line-height: 68px;
}

@media screen and (min-width:668px) {
  .header-nav {
    display: flex;
    justify-content: center;
    height: 83px;
    align-items: center;
  }
}
@media screen and (max-width:667px) {
  .header-nav {
    font-size: 18px;
    text-align: center;
    margin-top: 160px;
  }
}

@media screen and (min-width:668px) {
  .header-nav-item:not(:first-child) {
    margin-left: 25px;
  }
}
@media screen and (max-width:667px) {
  .header-nav-item:not(:first-child) {
    margin-top: 32px;
  }
}

.header-nav-item-link {
  display: block;
  padding: 5px 7px;
}
@media screen and (min-width:668px) {
  .header-nav-item-link:hover {
    border-bottom: 1px solid #3E3E3E;
  }
}
@media screen and (max-width:667px) {
  .header-nav-item-link {
    padding: 0 0;
    line-height: 22px;
  }
}

.drawer-hamburger {
  width: 1.7rem;
  top: 3px;
}

.drawer-hamburger-icon {
  height: 4px;
  border-radius: 4px;
}
.drawer-hamburger-icon::after {
  height: 4px;
  border-radius: 4px;
}
.drawer-hamburger-icon::before {
  height: 4px;
  border-radius: 4px;
}

.drawer-open .drawer-hamburger-icon::after {
  background: #fff;
  height: 4px;
  border-radius: 4px;
}
.drawer-open .drawer-hamburger-icon::before {
  background: #fff;
  height: 4px;
  border-radius: 4px;
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:667px) {
  .drawer-nav {
    width: 18.25rem;
  }
}

@media screen and (max-width:667px) {
  .drawer--right .drawer-nav {
    right: -18.25rem;
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 18.25rem;
}

.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 4px;
}

.top {
  background: url(../img/mv.png) no-repeat center center/cover;
}
@media screen and (min-width:668px) {
  .top {
    position: relative;
    height: 648px;
  }
}
@media screen and (max-width:667px) {
  .top {
    background: url(../img/mv.png) no-repeat left 22% center/cover;
    margin-top: 68px;
  }
}

@media screen and (min-width:668px) {
  .top-item {
    position: absolute;
    top: calc(50% + 41.5px);
    left: 50%;
    transform: translateY(-50%);
    padding-right: 40px;
  }
}

.top-title {
  font-size: 32px;
  font-weight: bold;
}
@media screen and (max-width:667px) {
  .top-title {
    font-size: 24px;
    line-height: 1.6666;
    padding-top: 155px;
  }
}

.top-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5555;
  letter-spacing: 0.025em;
  margin-top: 17px;
}
@media screen and (max-width:667px) {
  .top-text {
    font-size: 14px;
    line-height: 1.4285;
    margin-top: 19px;
    letter-spacing: 0;
  }
}

.top-footer {
  margin-top: 35px;
}
@media screen and (max-width:667px) {
  .top-footer {
    margin-top: 26px;
    padding-bottom: 231px;
    text-align: center;
  }
}

.news {
  padding: 120px 40px;
}
@media screen and (max-width:667px) {
  .news {
    position: relative;
    height: 572px;
  }
}

.news-inner {
  background: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 0 60px 40px 60px;
  box-sizing: border-box;
}
@media screen and (max-width:667px) {
  .news-inner {
    position: absolute;
    content: "";
    top: -41px;
    left: 0;
    right: 0;
    max-width: 343px;
    padding: 0 0 40px 0;
  }
}

.news-item {
  border-bottom: 1px solid #CECDCD;
}
.news-item:first-child {
  border-top: 1px solid #CECDCD;
}

.news-item-link {
  display: block;
  max-width: 1080px;
  padding: 37px 0;
  align-items: center;
  position: relative;
}
@media screen and (min-width:668px) {
  .news-item-link {
    display: flex;
  }
  .news-item-link:hover {
    background: #4973FF1A;
  }
}
@media screen and (max-width:667px) {
  .news-item-link {
    padding: 13px 16px 11px 16px;
  }
}

.news-item-title {
  display: flex;
}

.news-date {
  display: block;
  width: 99px;
  font-size: 18px;
  letter-spacing: 0.025em;
  margin-right: 40px;
}
@media screen and (max-width:667px) {
  .news-date {
    font-size: 14px;
    margin-right: 1px;
  }
}

.news-icon {
  display: block;
  border: 2px solid #3B69FF;
  border-radius: 50px;
  font-size: 14px;
  width: 121px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.025em;
  margin-right: 40px;
  background: #fff;
}
@media screen and (max-width:667px) {
  .news-icon {
    font-size: 12px;
    width: 81px;
    height: 20px;
    line-height: 17px;
  }
}

.news-item-body {
  display: flex;
}

.news-text {
  font-size: 18px;
  margin-right: 40px;
  line-height: 1.5555;
  letter-spacing: 0.025em;
}
@media screen and (min-width:668px) {
  .news-text {
    flex: 1;
  }
}
@media screen and (max-width:667px) {
  .news-text {
    font-size: 14px;
    line-height: 1.4285;
    letter-spacing: 0;
    margin: 8px 28px 0 0;
  }
}

.news-arrow {
  display: block;
  width: 43px;
  text-align: center;
}
.news-arrow .news-arrow-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 11px;
}
@media screen and (max-width:667px) {
  .news-arrow .news-arrow-icon {
    width: 14px;
    right: 13px;
  }
}

.news-footer {
  text-align: center;
  margin-top: 40px;
}

.service {
  background: #3E3E3E;
}
.service .util-title {
  color: #fff;
}
@media screen and (min-width:668px) {
  .service {
    height: 400px;
    position: relative;
  }
}
@media screen and (max-width:667px) {
  .service {
    height: 480px;
    margin-bottom: 390px;
  }
}

.service-item {
  background: #fff;
  max-width: 960px;
  width: 75%;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width:668px) {
  .service-item {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 165px;
    padding: 60px 45px;
  }
  .service-item:hover {
    background: #4973FF1A;
  }
}
@media screen and (max-width:667px) {
  .service-item {
    margin: 0 auto;
    padding: 40px 16px;
    width: 91.4666666667%;
    height: 694px;
  }
}

.service-item-list {
  text-align: center;
}
@media screen and (min-width:668px) {
  .service-item-list:not(:first-child) {
    margin-left: 90px;
  }
}
@media screen and (max-width:667px) {
  .service-item-list:not(:first-child) {
    margin-top: 5.0432276657%;
  }
}

.service-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: relative;
}
.service-icon img {
  width: 50px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-title {
  font-size: 20px;
  border-width: 600;
  letter-spacing: 0.2em;
  line-height: 1.3em;
}

.service-text {
  font-size: 14px;
  line-height: 1.7142;
  margin-top: 14px;
  text-align: left;
}

@media screen and (min-width:668px) {
  .results {
    padding: 215px 0 0 40px;
  }
}

.results-inner {
  background: #3E3E3E;
  margin: 0 0;
  box-sizing: border-box;
}
@media screen and (min-width:668px) {
  .results-inner {
    padding: 0 0 60px 60px;
  }
}
@media screen and (max-width:667px) {
  .results-inner {
    padding-bottom: 40px;
  }
}
.results-inner .util-title {
  color: #fff;
}
@media screen and (min-width:668px) {
  .results-inner .util-title {
    text-align: left;
  }
}

.results-item-body {
  background: #fff;
  padding: 16px 16px;
}
@media screen and (max-width:667px) {
  .results-item-body {
    padding: 11px 13px;
  }
}

.results-item-title {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width:667px) {
  .results-item-title {
    font-size: 14px;
    line-height: 1.1428;
  }
}

.results-item-text {
  margin-top: 8px;
}
@media screen and (max-width:667px) {
  .results-item-text {
    font-size: 12px;
    letter-spacing: 0.00083em;
  }
}

.results-footer {
  margin-top: 17px;
}
@media screen and (max-width:667px) {
  .results-footer {
    margin-top: 13px;
    text-align: center;
  }
}

.swiper-pagination {
  text-align: left;
}

.swiper {
  padding-bottom: 80px;
}
@media screen and (max-width:667px) {
  .swiper {
    padding-bottom: 55px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: solid 1px #fff;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 20px;
  left: -6px;
}
@media screen and (max-width:667px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 78px;
  }
}

.price {
  margin-bottom: 114px;
}
.price .util-title {
  padding-top: 114px;
}
@media screen and (max-width:667px) {
  .price .util-title {
    padding: 37px 0;
  }
}

.price-inner {
  max-width: 960px;
}

.price-item {
  display: flex;
  justify-content: center;
}
.price-item:first-child .price-item-title {
  border-top: 1px solid #3E3E3E;
}
.price-item:first-child .price-item-cost {
  border-top: 1px solid #3E3E3E;
}
.price-item:last-child .price-item-title {
  border-bottom: 1px solid #3E3E3E;
}

.price-item-title {
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  background: #3E3E3E;
  color: #fff;
  width: 262px;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #fff;
}
@media screen and (max-width:667px) {
  .price-item-title {
    width: 100px;
    height: 56px;
    font-size: 20px;
    line-height: 56px;
  }
}

.price-item-cost {
  display: block;
  font-size: 24px;
  font-weight: 600;
  padding-left: 40px;
  background: #fff;
  color: #3E3E3E;
  height: 61px;
  line-height: 61px;
  border-bottom: 1px solid #3E3E3E;
  border-right: 1px solid #3E3E3E;
  flex: 1;
}
@media screen and (max-width:667px) {
  .price-item-cost {
    font-size: 20px;
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
  }
}

.price-attention {
  font-size: 12px;
  margin-top: 9px;
}
@media screen and (max-width:667px) {
  .price-attention {
    margin-top: 3px;
  }
}

.comments {
  position: relative;
}
@media screen and (min-width:668px) {
  .comments {
    margin-bottom: 120px;
  }
}

@media screen and (min-width:668px) {
  .comments-inner {
    display: flex;
  }
}

.comments-bg {
  background: #3E3E3E;
}
@media screen and (max-width:667px) {
  .comments-bg {
    width: 100%;
    height: 425px;
  }
}
@media screen and (min-width:668px) {
  .comments-bg {
    position: absolute;
    top: 149px;
    left: 0;
    width: 76.5%;
    height: 576px;
    z-index: 10;
  }
}

.comments-wrap {
  background: #fff;
  padding: 116px 60px 123px 60px;
  z-index: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width:668px) {
  .comments-wrap {
    flex: 0 0 55.5%;
  }
}
@media screen and (max-width:667px) {
  .comments-wrap {
    position: absolute;
    content: "";
    top: -58px;
    left: 50%;
    transform: translateX(-50%);
    padding: 36px 5.8309037901%;
    width: 343px;
    max-width: 100%;
  }
}
.comments-wrap .util-title {
  text-align: left;
  padding: 0 0 51px 0;
}
@media screen and (max-width:667px) {
  .comments-wrap .util-title {
    padding-bottom: 32px;
  }
}

.comments-item {
  display: flex;
}
.comments-item:first-of-type {
  margin-bottom: 60px;
}
@media screen and (max-width:667px) {
  .comments-item:first-of-type {
    margin-bottom: 35px;
  }
}

.comments-icon {
  margin-right: 32px;
}
@media screen and (max-width:667px) {
  .comments-icon {
    margin-right: 5.8309037901%;
  }
}
.comments-icon img {
  width: 100px;
}
@media screen and (max-width:667px) {
  .comments-icon img {
    width: 60px;
  }
}

@media screen and (max-width:667px) {
  .comments-text {
    font-size: 14px;
    line-height: 1.4285;
  }
}

.comments-pic {
  flex: 0 0 45%;
  margin: auto 0;
  z-index: 20;
}

.qa {
  background: url(../img/qa-bg.png) no-repeat center center/cover;
  height: auto;
}

.qa__content {
  padding-bottom: 120px;
}
@media screen and (max-width:667px) {
  .qa__content {
    padding-bottom: 60px;
  }
}

.qa__wrap {
  margin: 0 0 0 auto;
  width: 612px;
  background: #fff;
}
@media screen and (max-width:667px) {
  .qa__wrap {
    width: 343px;
    max-width: 100%;
  }
}
.qa__wrap:not(:first-child) {
  margin-top: 31px;
}
@media screen and (max-width:667px) {
  .qa__wrap:not(:first-child) {
    margin-top: 24px;
  }
}
.qa__wrap dl {
  padding: 16px 16px;
}
.qa__wrap dl dt {
  display: block;
  margin: 0 auto;
  height: auto;
  font-weight: bold;
  letter-spacing: 0.025em;
  position: relative;
  border-radius: 4px;
}
@media screen and (max-width:667px) {
  .qa__wrap dl dt {
    font-size: 16px;
  }
}
.qa__wrap dl dt:hover {
  cursor: pointer;
}
.qa__wrap dl dt::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: transparent url(../img/plus.svg) no-repeat center center/contain;
  width: 17px;
  height: 17px;
}
@media screen and (max-width:667px) {
  .qa__wrap dl dt::after {
    right: 0;
  }
}
.qa__wrap dl dt.is-active::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background: transparent url(../img/minus.svg) no-repeat center center/contain;
  width: 17px;
  height: 17px;
}
@media screen and (max-width:667px) {
  .qa__wrap dl dt.is-active::after {
    right: 0;
  }
}
.qa__wrap dl dd {
  display: block;
  margin: 0 auto;
  height: auto;
  background: #3B69FF33;
  margin-top: 17px;
  display: none;
  padding: 12px 16px;
  border-radius: 4px;
}
.qa__wrap dl dd.is-active {
  display: block;
}
@media screen and (max-width:667px) {
  .qa__wrap dl dd {
    font-size: 14px;
    line-height: 1.4285;
    letter-spacing: 0.01em;
    padding: 8px 12px;
    margin-top: 17px;
  }
}

.q {
  position: relative;
  padding-left: 40px;
}

.q-icon {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-weight: 600;
  width: 24px;
  height: 24px;
  background: #3B69FF;
  border-radius: 50%;
  padding: 0 6px 0 5px;
  color: #fff;
}

@media screen and (min-width:668px) {
  .access-bg {
    position: relative;
  }
  .access-bg::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    background: #3E3E3E;
    display: block;
    width: 76.5%;
    height: 504px;
    z-index: -1;
  }
}

@media screen and (max-width:667px) {
  .access {
    background: #3E3E3E;
    padding-bottom: 60px;
  }
}
.access .util-title {
  color: #fff;
  text-align: left;
  padding: 0 0;
}
@media screen and (max-width:667px) {
  .access .util-title {
    padding-top: 38px;
  }
}

@media screen and (min-width:668px) {
  .access-inner {
    position: relative;
    padding: 0 100px;
  }
}

.access-content {
  display: flex;
}
@media screen and (min-width:668px) {
  .access-content {
    margin-top: 116px;
  }
}
@media screen and (max-width:667px) {
  .access-content {
    flex-wrap: wrap;
  }
}

.access-text {
  color: #fff;
  margin-top: 49px;
  width: 212px;
}
@media screen and (min-width:668px) {
  .access-text {
    margin-right: 88px;
  }
}
@media screen and (max-width:667px) {
  .access-text {
    margin-top: 30px;
    order: 1;
  }
}

.access-footer {
  margin-top: 30px;
}
@media screen and (min-width:668px) {
  .access-footer {
    position: absolute;
    top: 173px;
    left: 100px;
    content: "";
  }
}
@media screen and (max-width:667px) {
  .access-footer {
    text-align: center;
    order: 3;
    margin-top: 24px;
  }
}

.map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
}

.iframe-wrap {
  width: 726px;
  height: 520px;
  position: relative;
}
@media screen and (max-width:667px) {
  .iframe-wrap {
    width: 343px;
    height: 241px;
    order: 2;
    margin-top: 20px;
  }
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width:668px) {
  .iframe-wrap {
    margin-left: 8.3333333333%;
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
  }
}

.contact {
  background: url(../img/contact-bg.png) no-repeat center center/cover;
}
@media screen and (min-width:668px) {
  .contact {
    margin-top: 120px;
  }
}
@media screen and (max-width:667px) {
  .contact {
    background: url(../img/contact1.png) no-repeat center center/cover;
  }
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 100%;
  font-size: 16px;
  padding: 0.3em 0.7em;
  border: 0;
}
@media screen and (max-width:667px) {
  .contact input[type=text],
.contact input[type=email],
.contact textarea {
    font-size: 14px;
    padding: 0.1em 0.1em;
  }
}
.contact input[type=text],
.contact input[type=email] {
  height: 42px;
  opacity: 0.5;
}
@media screen and (max-width:667px) {
  .contact input[type=text],
.contact input[type=email] {
    height: 19px;
  }
}
.contact input[type=text]:focus-visible,
.contact input[type=email]:focus-visible {
  outline: none;
}
.contact input[type=text]:hover + .input-line, .contact input[type=text]:focus + .input-line,
.contact input[type=email]:hover + .input-line,
.contact input[type=email]:focus + .input-line {
  background: #3B69FF;
  box-shadow: 0 4px 5px #4973ff;
}
.contact textarea {
  min-height: 200px;
  resize: vertical;
  border: 1px solid #3E3E3E;
  opacity: 0.5;
}
@media screen and (max-width:667px) {
  .contact textarea {
    min-height: 160px;
  }
}
.contact textarea:focus-visible {
  outline: none;
}
.contact textarea:hover, .contact textarea:focus {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}
@media screen and (max-width:667px) {
  .contact select {
    margin-top: 8px;
  }
}
.contact select:hover {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}

.contact-inner {
  max-width: 1200px;
  padding: 63px 160px 58px 160px;
  width: auto;
  box-sizing: content-box;
  margin: 0 auto;
}
@media screen and (max-width:667px) {
  .contact-inner {
    padding: 40px 16px;
  }
}

.contact-top {
  background: url(../img/contact1.png) no-repeat center center/cover;
  color: #fff;
  text-align: center;
  border-radius: 12px 12px 0 0;
  padding: 55px 0 57px 0;
}
@media screen and (max-width:667px) {
  .contact-top {
    padding: 38px 16px;
  }
}
.contact-top .util-title {
  padding: 0 0;
}

.contact-subtitle {
  margin-top: 8px;
}
@media screen and (max-width:667px) {
  .contact-subtitle {
    margin-top: 2px;
    text-align: left;
  }
}

.form-wrap {
  background: #fff;
  border-radius: 0 0 12px 12px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 12.5%;
  padding-right: 12.5%;
}
@media screen and (max-width:667px) {
  .form-wrap {
    padding: 27px 12px;
  }
}

.contact-list {
  max-width: 720px;
  margin: 0 auto;
}

.contact-item {
  text-align: left;
}
.contact-item + .contact-item {
  margin-top: 23px;
}
@media screen and (max-width:667px) {
  .contact-item + .contact-item {
    margin-top: 24px;
  }
}
@media screen and (min-width:668px) {
  .contact-item {
    display: flex;
  }
}

@media screen and (max-width:667px) {
  .contact-item-input {
    padding-top: 1px;
  }
}

.contact-item-title {
  font-weight: bold;
  line-height: 40px;
  margin-right: 8.3333333333%;
  text-align: left;
}
@media screen and (min-width:668px) {
  .contact-item-title {
    flex: 0 0 128px;
  }
}
@media screen and (max-width:667px) {
  .contact-item-title {
    font-size: 16px;
    height: 35px;
  }
}
.contact-item-title .contact-item-inline {
  font-size: 12px;
  background: #FF4646;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
  margin-left: 12px;
}
@media screen and (max-width:667px) {
  .contact-item-title .contact-item-inline {
    margin-left: 20px;
  }
}

.contact-item-select {
  position: relative;
}
.contact-item-select::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: calc(50% - 6px);
  transform: translateY(-50%);
  border-bottom: 2px solid #3E3E3E;
  border-right: 2px solid #3E3E3E;
  transform: rotate(45deg);
  pointer-events: none;
}
@media screen and (min-width:668px) {
  .contact-item-select::after {
    left: 153px;
  }
}
@media screen and (max-width:667px) {
  .contact-item-select::after {
    right: 16px;
  }
}
.contact-item-select select {
  font-size: 16px;
  font-weight: 500;
  width: 178px;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  border: 1px solid #707070;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* デフォルトのスタイルを無効 */
}
@media screen and (max-width:667px) {
  .contact-item-select select {
    max-width: 100%;
    height: 38px;
    font-size: 14px;
  }
}
.contact-item-select select::-ms-expand {
  display: none;
  /* デフォルトのスタイルを無効(IE用) */
}

.contact-item-input {
  width: 100%;
  position: relative;
}

.input-line {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #3E3E3E;
}
@media screen and (max-width:667px) {
  .input-line {
    bottom: -4px;
  }
}

.radio-wrap {
  display: flex;
}

@media screen and (max-width:667px) {
  .contact-radio {
    margin-top: 4px;
  }
}
.contact-radio + .contact-radio {
  margin-left: 33px;
}
@media screen and (max-width:667px) {
  .contact-radio + .contact-radio {
    margin-left: 37px;
  }
}

.contact-radio-input {
  opacity: 0;
  position: relative;
}
.contact-radio-input:checked + .contact-radio-part::before {
  opacity: 1;
}
.contact-radio-input:focus-visible + .contact-radio-part {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-radio-part {
  font-size: 16px;
  position: relative;
}
.contact-radio-part::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 1px solid #3E3E3E;
  border-radius: 50%;
}
.contact-radio-part::after:hover {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}
.contact-radio-part::after:active {
  background: #4973FF33;
  border: 1px solid #3B69FF;
}
.contact-radio-part::before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: -17px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
  opacity: 0;
}
.contact-radio-part:hover::after {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}
.contact-radio-part:active::after {
  background: #4973FF33;
  border: 1px solid #3B69FF;
}

@media screen and (max-width:667px) {
  .contact-message {
    margin-top: 17px;
  }
}

.contact-privacy {
  margin-top: 33px;
}
@media screen and (max-width:667px) {
  .contact-privacy {
    margin-top: 35px;
  }
}

.contact-privacy-input {
  opacity: 0;
}
.contact-privacy-input:checked + .contact-privacy-text::before {
  opacity: 1;
}

.contact-privacy-text {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width:667px) {
  .contact-privacy-text {
    font-size: 16px;
  }
}
.contact-privacy-text::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
}
.contact-privacy-text::before {
  position: absolute;
  content: "";
  top: calc(50% - 6px);
  left: -18px;
  transform: translateY(-50%);
  width: 15px;
  height: 7px;
  border-left: 2px solid #3B69FF;
  border-bottom: 2px solid #3B69FF;
  transform: rotate(-45deg);
  opacity: 0;
}
.contact-privacy-text:hover::after {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact-privacy-text:active::after {
  border: 1px solid #3B69FF;
  background: #4973FF33;
}

.contact-footer-submit {
  margin-top: 38px;
}
@media screen and (max-width:667px) {
  .contact-footer-submit {
    text-align: center;
  }
  .contact-footer-submit button {
    padding: 0 46px;
  }
}

.contact-trans {
  text-align: center;
  margin-top: 60px;
  color: #3E3E3E;
  display: none;
}
.contact-trans.-error {
  color: #F00;
}

.footer {
  background: #3E3E3E;
  color: #fff;
  padding: 46px 40px;
}
@media screen and (max-width:667px) {
  .footer {
    padding: 48px 10px;
  }
}

.footer-inner {
  max-width: 960px;
}

@media screen and (min-width:668px) {
  .footer-wrap {
    display: flex;
  }
}
@media screen and (max-width:667px) {
  .footer-wrap {
    text-align: center;
  }
}

.footer-sns-item {
  display: inline-block;
}
.footer-sns-item:not(:first-child) {
  margin-left: 29px;
}
@media screen and (max-width:667px) {
  .footer-sns-item:not(:first-child) {
    margin-left: 48px;
  }
}

.footer-sns-item-link {
  color: #fff;
  font-size: 37px;
  opacity: 0.6;
}

.footer-nav {
  margin-top: 28px;
}
@media screen and (max-width:667px) {
  .footer-nav {
    margin-top: 30px;
  }
}

.footer-nav-item:not(:first-child) {
  margin-top: 16px;
}
@media screen and (max-width:667px) {
  .footer-nav-item:not(:first-child) {
    margin-top: 20px;
  }
}

.footer-nav-item-link {
  color: #fff;
  letter-spacing: 0.025em;
}

.footer-right {
  margin-left: auto;
}

.footer-logo {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.75;
  color: #E3E3E3;
}
@media screen and (max-width:667px) {
  .footer-logo {
    margin-top: 28px;
    font-size: 32px;
  }
}

.footer-copylight {
  font-size: 12px;
  letter-spacing: 0.025em;
  text-align: right;
  opacity: 0.6;
}
@media screen and (max-width:667px) {
  .footer-copylight {
    text-align: center;
  }
}

#pagetop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 40px;
}
@media screen and (max-width:667px) {
  #pagetop {
    right: 16px;
    bottom: 13px;
  }
}
